<div id="game-container"></div>
<div id="message-container">
  <ul></ul>
<div>
<div>
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Kills</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="score-container">
    </tbody>
  </table>
</div>
