
<div id="game-container" class="rounded-window">
  <div id="loading" class="subscreen">
    <img class="logo" src="/images/site/logo.png" alt="Potato Ship" />

    <img class="throbber" src="/images/loading.png" alt="Loading" />

    <div class="controls">
      Use the arrow keys to navigate and spacebar to shoot
    </div>
  </div>

  <div id="winning" class="subscreen">
    <h1>Game over!</h1>
  </div>

  <div id="game-scores" class="subscreen">
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Kills</th>
          <th>Deaths</th>
        </tr>
      </thead>

      <tbody id="score-container">
      </tbody>
    </table>
    <a href="/historical_scores" class="button">See the highest scores of all time</a>
  </div>

</div>

<div id="game-controls">
  <button id="see-scores">Toggle scoreboard</button>
</div>

<div id="message-container">
  <ul></ul>
</div>
