
<div id="game-container" class="rounded-window">
  <div id="winning">
    #winning
  </div>
</div>

<div id="message-container">
  <ul></ul>
</div>

<div id="game-scores">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Kills</th>
        <th>Deaths</th>
      </tr>
    </thead>

    <tbody id="score-container">
    </tbody>
  </table>
  <a href="/historical_scores">See the highest scores of all time</a>
</div>
