html
	font-size: 16px

body
	background-color: #483052
	// I don't know what rails voodoo is breaking this, but I don't want it in /assets/ first
	//background-image: url(images/site/background-stars.png)
	background-image: linear-gradient(0deg, rgba(0,0,0,0.0), rgba(0, 0, 0, 0.25))
	background-size: auto 400px
	background-repeat: repeat-x
	text-align: center
	margin: 3rem 1rem

header

#game-container
	canvas
		margin: 0 auto
		border: 10px solid rgba(0, 0, 0, 0.3)
		border-radius: 4px

#message-container

#game-scores
